/* Center the main container and its contents */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/* Set width for the input field */
#guess {
  width: 5em;
}

/* Margin for the reset button */
#reset {
  margin: 20px;
}
